<!--
A user will only see this view should they decide they want to delete a workout they had entered previously. This form
gives them the option to, if they are certain, delete the workout or cancel the operation should they have second
thoughts. In the latter case, FitHub returns the user to the "details" page associated with the workout they just
tried to delete.
-->

{%extends "blog/base.html"%}
	{%block content%}
	     <div class="content-section">
	    	  <form method = "POST">
	    		   {% csrf_token %}
	    		        <fieldset class="form-group">

                             <!-- This code appropriately titles the "Delete Workout" wizard. -->
                             <legend class="border-bottom mb-4">Delete Workout</legend>

                             <!-- This code ensures the user is aware of what they are about to do. It changes
                             dynamically according to which workout the user might want to delete. -->
                             <p> Are you sure you want to delete "{{object.title}}"?</p>
	    		        </fieldset>
	    		   <div class="form-group">

                        <!-- This code defines the two buttons from which the user can chose should they navigate
                        their way to the "Delete Workout" user. The first is the "delete" button, which, if selected,
                        deletes the selected workout. The second, if selected, allows the user to escape the current
                        operation and returns them back to the "details" page associated with the workout they just
                        tried to delete. -->
                        <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
                        <a class="btn btn-outline-secondary" href="{% url 'workout-detail' workout.id %}">No, cancel</a>
	    		   </div>
	    	  </form>
	     </div>
	{%endblock content%}
